#root {
  max-width: 100vw;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 1.3em rgb(100, 255, 108));
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

button p {
  cursor: pointer;
}

.main-container {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  margin-bottom: 0;
}

.card {
  border: 3px solid transparent;
  border-radius: 2em;
  background-color: #1a1a1a;
  padding: 2em;
  max-width: 60vw;
  min-width: 220px;
  transition: border-color 0.25s;
}
.card:hover {
  border-color: rgb(100, 255, 108);
}

.card p {
  text-align: start;
}

.card-title,
.card-subtitle {
  cursor: default;
  margin-top: 0;
  margin-bottom: 0;
  text-align: start;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 100vw;
  width: 100vw;
  background-color: #1a1a1a;
}

.image-container {
  margin: 0 2em;
  border-radius: 50%;
  width: 13em;
  height: 13em;
  overflow: hidden;
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.error-page {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-container {
  display: flex;
  justify-content: space-around;
  gap: 2em;
}

.contact-row {
  display: flex;
  align-items: center;
}

.contact-row img {
  padding-right: 1em;
}
